@import "tailwindcss";

:root {
	--background: #10170f;
	--foreground: #dddddd;
	--foreground-dark: #111111;

	--panel-outer: #ffffff20;
	--panel-inner: #00000040;
	--input-area: #00000040;

	--interactive: #62c15b;
	--alert: #62c15b;
	--highlight: #50964b;
	--disabled: #586C57;
}

:root [data-theme="light"] {
	--foreground: #dddddd;
}

@theme inline {
	--font-sans: var(--font-geist-sans);
	--font-mono: var(--font-geist-mono);

	--color-alert: var(--alert);
	--color-highlight: var(--highlight);
	--color-interactive: var(--interactive);
}

body {
	background: var(--background);
	/*color: var(--foreground);*/
	color: var(--foreground);
	font-family: Arial, Helvetica, sans-serif;
}

@layer components {
	.panel {
		background: var(--panel-outer);
		backdrop-filter: blur(10px);
	}

	.blur {
		backdrop-filter: blur(10px);
	}

	.panel-inner {
		background: var(--panel-inner);
		padding: 0.5rem;
	}

	.button {
		background: var(--interactive);
		color: var(--foreground-dark);
		cursor: pointer;
		padding: 0.25rem;
		min-width: 6rem;
		text-align: center;
	}

	.input {
		background: var(--input-area);
		padding: 0.25rem;
	}

	.header {
		z-index: 10;
		padding: 0.5rem;
	}

	.header::after {
		/* All this nonsense creates a background element separate from the
		header element because some browsers won't let the drop-down menu in
		the header apply a background blur if the parent (the header) has a
		backdrop filter applied directly to it. */
		content: '';
		position: absolute;
		width: 100%;
		height: 100%;
		margin: -0.5rem;
		z-index: -10;

		background: var(--panel-outer);
		backdrop-filter: blur(10px);
	}

	.disabled {
		color: var(--disabled);
	}

	.button.disabled {
		background: var(--background);
		cursor: default;
	}

	.fit-width {
		width: 50rem;
		max-width: 90vw;
	}

	.modal-background {
		background: #00000050;
		backdrop-filter: blur(10px);
	}
}