@import "tailwindcss";

:root {
	--background: #dddddd;
	--foreground: #171717;
}

@media (prefers-color-scheme: dark) {
	:root {
		--background: #dddddd;
		--foreground: #171717;
	}
}

@theme inline {
	--color-background: var(--background);
	--color-foreground: var(--foreground);
	--font-sans: var(--font-geist-sans);
	--font-mono: var(--font-geist-mono);
}

body {
	background: var(--background);
	color: var(--foreground);
	font-family: Arial, Helvetica, sans-serif;
}

@layer components {
	.layout-horizontal {
		display: grid;
		grid-template-columns: 1fr 2fr;
		grid-template-rows: 1fr;
	}

	.layout-vertical {
		grid-template-rows: 1fr 2fr;
	}
}