@import "tailwindcss";

:root {
	--background: #333527;
	--foreground: #dddddd;

	--panel-outer: #ffffff20;
	--panel-inner: #00000030;

	--input-area: #00000030;
	--interactive: #D494FF;
}

:root [data-theme="light"] {
	--foreground: #dddddd;
}

@theme inline {
	--color-foreground: var(--foreground);
	--color-background: var(--background);

	--font-sans: var(--font-geist-sans);
	--font-mono: var(--font-geist-mono);

	--color-alert: #ff0000;
	--color-highlight: #0000ff;
	
	--color-button: #0000ff;
	--color-disabled: #333527;
	--color-input: #333527;

	--color-header-background: #0000ff;
	--color-header-foreground: #0000ff;

	--color-menu: #5F018F;
	--color-inset: #5F018F;
	--color-panel-background: #0000ff;
	--color-panel-foreground: #0000ff;

	--color-dark: #171717;

	--color-interactive: var(--interactive);
}

body {
	background: var(--background);
	/*color: var(--foreground);*/
	color: var(--foreground);
	font-family: Arial, Helvetica, sans-serif;
}

input, textarea {
	background: var(--input-area);
	padding: 0.25rem;
}

input[type=submit] {
	background: var(--interactive);
	cursor: pointer;
	padding: 0.5rem;
}

@layer components {
	.panel {
		background: var(--panel-outer);
		backdrop-filter: blur(10px);
	}

	.panel-inner {
		background: var(--panel-inner);
		padding: 0.5rem;
	}

	.button {
		background: var(--interactive);
		cursor: pointer;
		padding: 0.5rem;
	}

	.header {
		background: var(--panel-outer);
		backdrop-filter: blur(10px);
	}

	.modal-background {
		background: rgb(255, 255, 255, 0.5);
		backdrop-filter: blur(10px);
	}
}