@import "tailwindcss";

:root {
	--background: #333527;
	--foreground: #dddddd;
}

/*@media (prefers-color-scheme: dark) {
	:root {
		--background: #333527;
		--foreground: #171717;
	}
}*/

@theme inline {
	--color-foreground: var(--foreground);
	--color-background: var(--background);

	--font-sans: var(--font-geist-sans);
	--font-mono: var(--font-geist-mono);

	--color-alert: #ff0000;
	--color-highlight: #D494FF;
	--color-interactive: #D494FF;
	--color-button: #0000ff;
	--color-disabled: #333527;
	--color-input: #333527;

	--color-header-background: #3C154F;
	--color-header-foreground: var(--foreground);

	--color-menu: #5F018F;
	--color-inset: #5F018F;
	--color-panel-background: #5F018F;
	--color-panel-foreground: var(--foreground);

	--color-dark: #171717;
}

body {
	background: var(--background);
	/*color: var(--foreground);*/
	color: #ff0000;
	font-family: Arial, Helvetica, sans-serif;
}

input, textarea {
	background: #00000030;
	padding: 0.25rem;
}

input[type=submit] {
	color: #dddddd;
	background: #D494FF;
	cursor: pointer;
	padding: 0.5rem;
}

@layer components {
	.panel {
		color: #dddddd;
		background: #ffffff20;
		backdrop-filter: blur(10px);
	}

	.panel-inner {
		background: #00000030;
		padding: 0.5rem;
	}

	.button {
		color: #dddddd;
		background: #D494FF;
		cursor: pointer;
		padding: 0.5rem;
	}

	.header {
		color: #dddddd;
		background: #ffffff20;
		backdrop-filter: blur(10px);
	}

	.modal-background {
		background: rgb(255, 255, 255, 0.5);
		backdrop-filter: blur(10px);
	}
}