@import "tailwindcss";

:root {
	--background: #333527;
	--foreground: #dddddd;

	--panel-outer: #ffffff20;
	--panel-inner: #00000030;

	--input-area: #00000030;
	--interactive: #D494FF;
	--alert: #ff0000;
	--highlight: #00ff00;
	--disabled: #aaaaaa;
}

:root [data-theme="light"] {
	--foreground: #dddddd;
}

@theme inline {
	--font-sans: var(--font-geist-sans);
	--font-mono: var(--font-geist-mono);

	--color-alert: var(--alert);
	--color-highlight: var(--highlight);
	--color-interactive: var(--interactive);
}

body {
	background: var(--background);
	/*color: var(--foreground);*/
	color: var(--foreground);
	font-family: Arial, Helvetica, sans-serif;
}

input, textarea {
	background: var(--input-area);
	padding: 0.25rem;
}

input[type=submit] {
	background: var(--interactive);
	cursor: pointer;
	padding: 0.5rem;
}

@layer components {
	.panel {
		background: var(--panel-outer);
		backdrop-filter: blur(10px);
	}

	.blur {
		backdrop-filter: blur(10px);
	}

	.panel-inner {
		background: var(--panel-inner);
		padding: 0.5rem;
	}

	.button {
		background: var(--interactive);
		cursor: pointer;
		padding: 0.25rem;
	}

	.header {
		background: var(--panel-outer);
		backdrop-filter: blur(10px);
	}

	.disabled {
		color: var(--disabled);
	}

	.fit-width {
		width: 50rem;
		max-width: 90vw;
	}

	.modal-background {
		background: #00000050;
		backdrop-filter: blur(10px);
	}
}