@import "tailwindcss";

:root {
	--background: #dddddd;
	--foreground: #171717;
}

@media (prefers-color-scheme: dark) {
	:root {
		--background: #dddddd;
		--foreground: #171717;
	}
}

@theme inline {
	--color-foreground: var(--foreground);

	--font-sans: var(--font-geist-sans);
	--font-mono: var(--font-geist-mono);

	--color-alert: #ff0000;
	--color-highlight: #ffff00;
	--color-interactive: #0000ff;
	--color-button: #559955;
	--color-disabled: #555555;
	--color-input: #00ff00;
	--color-header: #aaffaa;
	--color-menu: #555599;
	--color-panel: #aa00ff;
	--color-inset: #ffaaaa;
}

body {
	background: linear-gradient(#dddddd, #aaaaaa);
	color: var(--foreground);
	font-family: Arial, Helvetica, sans-serif;
}

@layer components {
	.modal-background {
		background: rgb(255, 255, 255, 0.5);
		backdrop-filter: blur(10px);
	}

	.react-colorful {
		border: 3px white;
	}
}